:(绿色史莱姆|绿史|绿姆姆)(:|$)	[img=%PICTURE_PATH%绿姆姆.png]绿色史莱姆[br]最常见的魔物，全身由绿色的黏液构成，一个词形容就是弱小，会被小孩子轻松击退。
匹配字符串使用正则表达式，匹配字符串后跟至少一个制表符分隔。如果一行中过滤行首空白字符后没有包含制表符，则该行会被忽略
%VARIABLE%引用环境变量
[br] 表示换行符
[img=xxx] 表示插入图片，图片地址为xxx
[ban=30?message] 表示禁言30分钟，如果对方是管理员则不禁言且整条消息替换为message。若message省略，则对方是管理员时不回复；若?省略，则不判断对方是否是管理员强制禁言。如果同时有多个禁言指令，只取第一个。
时间格式为[[dd:]hh:]mm[’ss]，如12:34表示12小时34分钟，12'34表示12分34秒，1:23:00表示1天23小时。
[pm=message?30] 表示30分钟后小窗发送message。?30可省略，表示立即发送。时间格式同上。
[at=123456] @QQ号为123456的人。如需@全体，则[at=all]。
[]内如需要使用]，可使用\]转义；\需要使用\\转义。
